/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: @defaultFont;
	font-size: 16px;
}


/* HEADER  */
header {
	background-image: url(../images/header560.jpg);
	height: 110px;



	h1 {
		display: none;
	}

} // end header


/* NAVigation  */



/* MAIN  */
main {
	padding: 1rem 0;

} // end main

/* FOOTER  */
footer {
	color: @primaryColor;
	padding: 2rem 0;
	text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}